h2{
    background-color: aqua;
    text-align: center;
}
body{
    font-family: 바탕체;
    padding: 20px;
    
}
h4{
    font-weight: bold;
}
#a{
    border-radius: 10px;
    background-color: rgb(255, 3, 209);
}
span{
    color: blue;
}


body{
    background-color: beige;
}
