@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
#container{width: 100%;}
a{
    text-decoration: none;
    color: #eee;
}
ul li{
    list-style: none;
}
/* header 스타일 */
header .navbar{
    display: flex;
    flex-direction: column;
    background-color: rgb(68, 164, 46);
    padding: 8px 24px;
}
header .navbar_logo{
    font-size: 24px;
    padding-left: 20px;
}
header .navbar_logo a:hover{
    color: skyblue
}
header .navbar_menu{
    width: 100%;
    display: flex;
    flex-direction: column;
}
header .navbar_menu li:hover{
    background-color: skyblue;
    border-radius: 5px;
}
header .navbar_menu li{
    text-align: center;
    padding: 10px;
}
header .navbar_toggleBtn{
    position: absolute;
    right: 30px;
    /* 부모 요소의 상대크기 1em = 16px */
    /* 1em = 16px */
    font-size: 1.5em;
}
#container main{
    width: 90%;
    margin: 20px auto;
}
#container main #content{
    width: 90%;
    margin: 0 auto;
}
#container main #content h2{
    font-size: 20px;
    text-align: center;
}
/* footer 스타일 */
footer{
    margin-top: 100px;
    border-top: 2px solid #222;
    height: 150px;
    width: 100%;
    position: absolute;
}
footer #footer_menu{
    margin: 10px 20px;
}
footer #footer_menu li{
    float: left;
    border-right: 2px solid #ccc;
    margin:  10px 0;
    padding: 0 10px;
}
footer #footer_menu li a{
    color: #444;
}
footer #footer_menu li:nth-child(4){
    border: none;
}
/* index 스타일 */
#main #content .main_pic{
    width: 400px;
    margin: 20px auto;
}
#main #content .main_pic img{
    width: 400px;
    height: 350px;
    border-radius: 25px;
}
/* product 스타일 */
#main #content .product_h1{
    text-align: left;
    color: red;
}
#content #watermelon h3, #berry h3{
    color: red;
}
#content #watermelon, #berry{
    height: 600px;
}
#content #watermelon img , #berry img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-right: 20px;
}
#content #watermelon p, #berry p{
    line-height: 2;
    text-align: justify;
    font-size: 15px;
    color: #222;
}
#content form{
    width: 300px;
    margin: 0 auto;
    border: 2px solid #ccc;
}
/* board */
#content table{
    width: 400px;
    border: 2px solid #ccc;
    border-collapse: collapse;
    margin: 10px ;
}
#content table th, td{
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
}
#content table thead{
    background-color: #eee;
}
#content table tr td:nth-last-of-type(3){
    text-align: center;
}
/* login */
#content form{
    width: 300px;
    margin: 80px auto;
    border: 2px solid #ccc;
}
#content h1{
    text-align: center;
}
#content form ul{
    padding: 20px 0px 40px;
}
#content form ul li{
    margin: 15px 18px;
}
#content form label{
    width: 80px;
    float: left;
}
/* 태블릿 기준 */
@media screen and (min-width: 768px) {
    header .navbar{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    /* ul의 크기가 필요 */
    header .navbar_menu{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 200px;
    }
    header .navbar_menu li{
        padding: 16px 24px;
    }
    footer #footer_menu{
        margin: 10px 40px;
    }
    /* index */
    #main #content .main_pic{
        width: 500px;
        margin: 20px auto;
    }
    #main #content .main_pic img{
        width: 500px;
        height: 450px;
        border-radius: 25px;
    }
    /* product */
    #main #content .product_h1{
        text-align: left;
        color: red;
    }
    #content #watermelon, #berry{
        height: 650px;
    }
    #content #watermelon img , #berry img{
        width: 500px;
        height: 450px;
        border-radius: 10px;
        margin-right: 20px;
    }
    #content #watermelon p, #berry p{
        line-height: 2;
        text-align: justify;
        font-size: 15px;
    }
}
/* PC 기준 */
@media screen and (min-width: 1024px) {
    #main #content .main_pic{
        width: 550px;
        margin: 20px auto;
    }
    #main #content .main_pic img{
        width: 550px;
        height: 500px;
        border-radius: 5px;
    }
    #main #content .product_h1{
        text-align: left;
    }
    #content #watermelon, #berry{
        width: 800px;
        height: 300px;
        margin: 40px auto;
    }
    #content #watermelon img, #berry img{
        float: left;
        width: 300px;
        height: 300px;
        margin-right: 20px;
        border-radius: 25px;
    }
    #content #watermelon p, #berry p{
        line-height: 3;
        text-align: justify;
    }
    /* board */
    #content table{
        width: 900px;
        border: 2px sold #ccc;
        border-collapse: collapse;
        margin: 30px 300px;
    }
    #content table th, td{
        border: 1px solid #ccc;
        padding: 12px;
        text-align: center;
    }
    #content h2{
        text-align: center;
    }
    #content table thead{
        background-color: #eee;
    
    }
    #content table tr td:nth-last-of-type(3){
        text-align: center;
    }
    /* login */
    #content form{
        width: 500px;
        margin: 10 auto;
        border: 2px solid black;
    }
    #content h1{
        text-align: center;
    }
    #content form ul{
        padding: 10px 40px;
    }
    #content form ul li{
        margin: 10 30px;
    }
    #content form label{
        width: 80px;
        float: left;
    }
    #content form ul li input #id #password{
        padding: 50px;
        margin: 10px;
    }
    
}
