img{
    border: 1px solid rgb(43, 43, 253);
    /* 테두리 둥글게 */
    border-radius: 5px;
}
table{
    border: 1px solid #ccc;
    border-collapse: collapse;
}
th,td{
    border: 1px solid #ccc;
   /* 셀의 안쪽 여백(전방형) */
    padding: 10px;
    text-align: center;

}
thead{
    background-color: #ccc;
}