*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
/* header 스타일 */
header .navbar{
    display: flex;
    flex-direction: column;
    background-color: rgb(68, 164, 46);
    padding: 8px 24px;
}
header .navbar_logo{
    font-size: 24px;
    padding-left: 20px;
}
header .navbar_logo a:hover{
    color: skyblue
}
header .navbar_menu{
    width: 100%;
    display: flex;
    flex-direction: column;
}
header .navbar_menu li:hover{
    background-color: skyblue;
    border-radius: 5px;
}
header .navbar_menu li{
    text-align: center;
    padding: 10px;
}
@media screen and (min-width: 768px) {
    header .navbar{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    /* ul의 크기가 필요 */
    header .navbar_menu{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 200px;
    }
    header .navbar_menu li{
        padding: 16px 24px;
        
    }
}